# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Package Sync'
      'submenu': [
        { 'label': 'Sync', 'command': 'package-sync:sync' }
      ]
    ]
  }
]
