# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Package Sync'
      'submenu': [
        {
          'command': 'package-sync:create-package-list'
          'command': 'package-sync:sync'
        }
      ]
    ]
  }
]
